<div class="main-plans plans">
	<div class="plan">
		<h4>Свадебная<br>фотосъемка</h4>
		<span class="price">₽ 2000</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Скидки</p>
		<p><i class="material-icons">check</i> Онлайн-бронирование</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Онлайн-заказ</p>
	</div>

	<div class="plan">
		<h4>Фотосессии<br></h4>
		<span class="price price">₽ 1600</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Скидки</p>
		<p><i class="material-icons">check</i> Онлайн-бронирование</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Онлайн-заказ</p>
	</div>
	
		<div class="plan">
		<h4>Наклейки<br>на авто</h4>
		<span class="price">₽ 500</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>

	<div class="plan">
		<h4>Ламинация<br></h4>
		<span class="price price">₽ 60</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Распечатка<br>фото</h4>
		<span class="price price">₽ 8</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">сheck</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Календарь<br></h4>
		<span class="price price">₽ 400</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Визитки<br>двухсторонние</h4>
		<span class="price price">₽ 1</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Печать<br>на диске</h4>
		<span class="price price">₽ 50</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Фотомагниты<br></h4>
		<span class="price price">₽ 60</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Фотомонтаж<br></h4>
		<span class="price price">₽ 600</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Раскраши-<br>вание фото</h4>
		<span class="price price">₽ 400</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Сертификат<br>на фотосессию</h4>
		<span class="price price">₽ 1600</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Реставрация<br>фотографий</h4>
		<span class="price price">₽ 200</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Фото<br>на кружках</h4>
		<span class="price price">₽ 400</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
	<div class="plan">
		<h4>Фотокнига</h4>
		<span class="price price">₽ 170</span>
		<p class="description"> ...</p>
		
		<p><i class="material-icons">check</i> Онлайн-заказ</p>
		<p><i class="material-icons">check</i> Скидки</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i> Онлайн-бронирование</p>
	</div>
	
</div>
