---
layout: default
permalink: /portfolio/
title: Портфолио
description: Наши работы
header: Портфолио
header_subtext: Наши работы
---

<div class="customer-grid">
	{% assign customers = site.customers | sort: 'sort_key' %}
	{% for customer in customers %}
		<a class="{{ customer.name | slugify }}" href="{{ customer.url }}">
			{% if customer.logo.width %}
				<img width="{{ customer.logo.width }}" src="{{ customer.logo.path }}" alt="{{ customer.name }}" />
			{% else %}
				<img width="250" src="{{ customer.logo.path }}" alt="{{ customer.name }}" />
			{% endif %}
			<strong>{{ customer.tagline }}</strong>
		</a>
	{% endfor %}
</div>

<section class="bright-section centered">
	<div class="container">
		<h2>Забронируйте услуги фотографа онлайн </h2>
		<p><a href="#" class="btn btn-primary btn-large btn-block btn-centered">Забронировать онлайн</a></p>
	</div>
</section>
