---
layout: default
---
<header class="{{ page.name | slugify }}">
	<div class="container">
		<h2>Клиент Ufafoto: <a href="{{ page.site }}">
			{% if page.logo.width %}
				<img width="{{ page.logo.width }}" src="{{ page.logo.path }}" alt="{{ page.name }}" />
			{% else %}
				<img width="250" src="{{ page.logo.path }}" alt="{{ page.name }}" />
			{% endif %}
		</a></h2>
		<h3>{{ page.tagline }}</h3>
		<p><a href="{{ page.site }}" target="_blank">Найти в {{ page.site_name }} &rarr;</a></p>
	</div>
</header>

<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<section>
	<div class="container text-container">
		<h2>Челлендж</h2>
		{{ page.challenge | markdownify }}

		<h2>Как мы помогли</h2>
		{{ page.solution | markdownify }}
	</div>
</section>

{% if page.testimonial %}
	<blockquote class="testimonial">
			<div class="container text-container">
				<p class="quote">{{ page.testimonial.text }}</p>
				<div class="author">
					<img src="{{page.testimonial.image_path}}">
					<p>
						<span>{{ page.testimonial.name }}</span>
						<br>
						{{ page.testimonial.work_title }}
					</p>
				</div>
			</div>
	</blockquote>
{% endif %}

<section>
	<div class="container">
		{% include customer-slideshow.html name="overview" slides=page.overview %}
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Хотите также?</h2>
		<p class="sub-text landing-page">Закажите услугу, расскажите нам о своем челлендже</p>
		<p>
			<a href="#" class="btn btn-primary btn-large btn-block btn-centered">Заказать услугу</a>
		</p>
	</div>
</section>

<script src="/js/lightslider.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$(".photo-gallery").lightSlider({
			gallery: true,
			item: 1,
			loop: true,
			thumbItem: 5,
			thumbMargin: 20,
			slideMargin: 0,
			enableDrag: false,
			currentPagerPosition: "left",
		});
	});
</script>
